/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.container {
    width: 960px !important;
}

h2 {
    color: #ff0000;
}


.carousel {
    
}

.carousel-index {
    max-height: 465px;
}

.fill {
    height: 370px !important;
}

.carousel-indicators-index {
    top: 450px !important;
    text-align: center !important;
    left: 49% !important;
    margin: 0;
    padding: 0;
    max-width: 100px;
}

.carousel-indicators {
    top: 370px;
    text-align: center !important;
}

.carousel-indicators li {
    background-color: gray;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-indicators .active {
    background-color: #FF0000;
}

.carousel-caption {
    top: 360px;
    color: black !important;
    text-shadow: none;
    background: none; 
}

.carousel-caption h4 {
  color: gray;
}

.form-search {
    height: 15px;
    width: 107px;
    margin-top: 4px !important;
    font-size: 10px !important;
    /*background: white url(search.jpg) no-repeat scroll 7px 7px;*/
}

.navbar-form {
    margin: 0px;
}

.item {
 z-index: -1 !important;
}

.socmed-icon {
    margin-top: 2px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}
.carousel-inner {
    z-index: -1;
    margin-top: 143px;
}

.carousel-inner-index {
    margin-top: -500px;
}

nav li .active {
    color: black;
}

.navbar-inverse {
    height: 27px;
    min-height: 27px;
    margin: 0;
    padding: 0;
    background-color: #FF0000;
    border: 0;
}
.navbar-default{
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px #4169E1 solid;
}
.tagline{
  color: #333;
}

.logo-view {
    min-height: 114px;
    padding: -20px;
    border-bottom: #4169E1 2px solid;
    margin-bottom: 3px;
}

.logo-img {
    text-align: center;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    margin-bottom: 5px;
}

.menu-footer {
    text-align: right;
}

.menu-footer a{
    color: gray;
    padding: 5px;
}

.content {
    padding: 20px;
}



footer {
    margin: 0px 0;
    font-size: 10px;
}

.footer-home a {
    color: white;
}

.footer-home {
    background-color: #ff0000;
    color: white;
    padding-top: 20px;
    min-height: 50px;
}

.sidebar
{
  margin-bottom: 10px;
}

/*circle menu*/

.socialCircle-item {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #FF0000;
  border: 1px solid #4169E1;
  margin: 50%;
  text-align: center;
  color: #000;
  font-size: 30px;
  cursor: pointer;
}

.socialCircle-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  top: -120px;

}

.socialCircle-container a {
 font-size: 15px;
 color: #FFF;
 text-decoration: none;

}

.socialCircle-center {
  width: 200px;
  height: 200px;
  background: #FF0000;
  margin: 50%;
  position: absolute;
  text-align: center;
  color: #000;
  font-size: 60px;
  cursor: pointer;

}